#home {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: linear-gradient(to bottom, #5c4d7d,  #455e89, #2e6f95);

    & > header {
        grid-column: 1/4;
        justify-self:center;
        align-self:center;
        font-size:1.6em;
        text-align:center;
        text-transform:uppercase;
        color:white;
        font-weight:bold;
        padding: 2vh 0 2vh 0;
        background-color:#403657;
        width:100%;
    }

    & > aside {
        grid-column: 3/4;
        color:white;
        padding:2vh 0 2vh 1vw;

        & > header {
            text-transform:uppercase;
            font-size:1.1em;

        }

        & > section {
            padding: 1vh 0 1vh 0;

            & > header {
                padding: 1vh 0 1vh 0;
            }

            & > ul {
                & > li {
                    font-size:0.8em;
                    line-height:2vh;
                }
            }
        }

    }

    & > main {
        grid-column: 2/3;
        align-self:center;
        justify-self:center;
        background-color:white;

        & > header {
            text-align:center;
            font-weight:bold;
            font-size:1.5em;
            text-transform:uppercase;
            padding:5vh 0 5vh 0;
        }

        & > section {
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap:2vw;
            grid-row-gap:2vw;
            padding:1vh 1vw 1vh 1vw;

            & > article {
                justify-self:center;
                align-self:center;

                & > header {
                    color:#5d4d7d;
                    font-weight:500;
                    text-transform:uppercase;

                    & > h3 {
                        padding:2vh 0 2vh 0;
                    }
                    & > figure {

                        & > img {
                            width:100%;
                        }
                    }
                }

                & > section {
                    & > h4 {
                        padding-bottom:2vh;
                    }

                    & > p {
                        padding-bottom:2vh;
                        font-size: .9em;
                    }
                }
                & > footer {
                    text-transform:uppercase;
                    font-weight:bold;
                }
            }
        }




    }
}